<!DOCTYPE html>
<html>
<head>
	<title>Song Name | Details</title>
	<title id="headtitle"></title>
	<link rel="shortcut icon" href="/views/headphones.png"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/views/player/css/style.css">
	<link rel="stylesheet" type="text/css" href="/views/player/css/stylePlayer.css">
	<link rel="stylesheet" type="text/css" href="/views/player/css/tableStyle.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<!-- javascript link -->
	<script src="/views/player/js/script.js"></script>

</head>
<body>
	<!-- Sidebar Panel -->
	<% include ../include/sidebar %>
	
	<!-- Music Player -->
	<% include ../include/player_ui %>
		
	<!-- Main Content -->
	<div class="main-container">
		<% include ../include/fixed_header %>
		
		<div class="container-inside2">
			<div class="header-text">
				<h3 class="heading-all-text">Details</h3>
				<hr>
			</div>
			<div class="content-pane">
				<div class="row">				
					<table class="music-info">
						<tr>
							<td class="title-desc"></td>
							<td class="value-desc">
								<div class="album-art-details">
									<img class="img-details" src="https://dl.dropboxusercontent.com/s/1d659on1oajhl62/music-logo.png?dl=0" alt="Abbey Road" >
								</div>
							</td>
						</tr>
						<tr>
							<td class="title-desc">Title</td>
							<td class="value-desc"> <%= request.song.title %> </td>
						</tr>
						<tr>
							<td class="title-desc">Artist</td>
							<td class="value-desc"> <%= request.song.artist %> </td>
						</tr>
						<tr>
							<td class="title-desc">Album</td>
							<td class="value-desc"> <%= request.song.album %> </td>
						</tr>
						<tr>
							<td class="title-desc">Genre</td>
							<td class="value-desc"> <%= request.song.genre %> </td>
						</tr>
						<tr>
							<td class="title-desc">Year</td>
							<td class="value-desc"> <%= request.song.year %> </td>
						</tr>
						<tr>
							<td class="edit-btn">
								<!--<a href="<%= request.song.src %>"><i class="fa fa-download"></i> Download</a>-->
							</td>
							<td class="back-to-prev"><a href="/browse/songs">Back to List</a></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/ui/jquery-ui-git.js"></script>
<script src="/views/player/js/player.js"></script>
</html>