<!DOCTYPE html>
<html>

<head>
	<title>Messages | Administrator</title>
	<title id="headtitle"></title>
	<link rel="shortcut icon" href="/views/headphones.png" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/views/player/css/style.css">
	<link rel="stylesheet" type="text/css" href="/views/player/css/tableStyle.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<!-- javascript link -->

</head>

<body>
	<!-- Sidebar Panel -->
	<% include ../include/sidebar %>

		<!-- Main Content -->
		<div class="main-container">
			<!-- Fixed Header -->
			<% include ../include/fixed_header %>

				<div class="container-inside2">
					<div class="header-text">
						<h3 class="heading-all-text">Messages</h3>
						<hr>
					</div>
					<div class="content-pane">
						<div class="row">
							<table id="myTable" class="contact-info table table-hover">
								<thead>
									<tr class="table-head">
										<th style="width: 10%; display: block; float: left;">#</th>
										<th style="width: 20%; display: block; float: left;">Name</th>
										<th style="width: 40%; display: block; float: left;">Subject</th>
										<!-- <th style="width: 10%; display: block; float: left;">Date</th> -->
										<th style="width: 10%; display: block; float: left;">Action</th>
									</tr>
								</thead>
								<tbody>
								<% for(var i = 0; i < messages.length; i++) { %>
										<tr class="table-data">
											<td class="tbl-data" id="msg-no">
												<%= i+1 %>
											</td>
											<td class="tbl-data" id="msg-sender">
												<%= messages[i].name %>
											</td>
											<td class="tbl-data" id="msg-subject">
												<%= messages[i].subject.slice(0, 20) + "..." %>
												<span style="color: #000;"><%= '"' + messages[i].message.slice(0, 20) + '..."' %></span>
											</td>
											<!-- <td class="tbl-data" id="msg-date">
												<%= messages[i].created %>
											</td> -->
											<td class="tbl-data" id="msg-action">
												<a href="/admin/contact/<%= messages[i]._id %> "><i style="color: #191919;" class="fa fa-envelope-open"></i></a>
											</td>
										</tr>
									<% } %>
								</tbody>
							</table>

							<!-- <% for(var i = 0; i < messages.length; i++) { %>
							  <div><a href="/admin/contact/<%= messages[i]._id %>"><%= messages[i].name %> </a></div>
							<% } %> -->

						</div>
					</div>
				</div>
		</div>

	<script src="/lib/jquery/dist/jquery.min.js"></script>
	<script src="/lib/jquery/dist/script.js"></script>
	<script src="/lib/jquery/dist/jquery-paginate.js"></script>
	<script src="/lib/jquery/dist/jquery-paginate.min.js"></script>
	
	<script>
		// Paginate it
		$('#myTable').paginate({
			limit: 6,
			initialPage: 0
		});			
	</script>
</body>

</html>